<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Bock Caracteristicas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../assets/css/estilos.css" type="text/css"> 
</head>
<body>
    <header>
        <a href="TiposdeCerveza.html">Volver</a>
        <br>
        <h1>Todo sobre la cerveza Bock</h1>
    </header>
    <ul>
        <li>Sabor</li>
        <li>Aroma</li>
        <li>Textura</li>
    </ul>

</body>
</html>