<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />


    <!--Titulo-->

    <title>Fabricacion</title>
    

    <!--Viewport-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    
    <!--Link de CSS-->

    <link rel="stylesheet" href="../assets/css/estilos.css" type="text/css">


    <!--Link de Bootstrap-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <!--Keywords-->

    <meta name="keywords" content="cerveceria, elirlandes, cervezas, venta de cerveza, fabricacion, elaboracion">

    
    <!--Descripcion-->
    
    <meta name="description" content="En la seccion de fabricacion encontraras toda la informacion de forma resumida y precisa sobre la elaboracion de nuestras cervezas">

</head>
<!------------------------------------------------------------------------->
<body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
 
    <header>
      <div class="container-fluid">
           <nav class="navbar navbar-expand-lg">
             <a class="navbar-brand" href="../index.html">INICIO</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
           
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                   <a class="nav-link" href="./Fabricacion.html">FABRICACION<span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="./ShopBeer.html">SHOPBEER</a>
                 </li>
                 <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="./TiposdeCerveza.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     TIPOS DE CERVEZA
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     
                    <a class="dropdown-item" href="./TiposdeCerveza.html">Ver Cervezas!</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./IPA1.html">IPA</a>
                    <a class="dropdown-item" href="./ALE1.html">ALE</a>
                    <a class="dropdown-item" href="./Porter1.html">Porter</a>
                    <a class="dropdown-item" href="./PaleAle1.html">Pale Ale</a>
                    <a class="dropdown-item" href="./Amber1.html">Amber</a>
                    <a class="dropdown-item" href="./Bock1.html">Bock</a>
                    <a class="dropdown-item" href="./Lager1.html">Lager</a>
                    <a class="dropdown-item" href="./Pilsen1.html">Pilsen</a>
                    <a class="dropdown-item" href="./Stout1.html">Stout</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Mas cervecezas pronto!</a>
                   </div>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contacto</a>
                 </li>
               </ul>
               <form class="form-inline my-2 my-lg-0">
                 <input class="form-control mr-sm-2" type="search" placeholder="Escribe aqui" aria-label="Search" >
                 <button class="btn" type="submit">Buscar! <img src="../assets/icons/cart2.svg" alt="" width="20" height="25" title="Bootstrap"> </button>
               </form> 
           </nav>
     </div>
  
     <div class="TituloFabricacion">
        <h1>Fabricacion</h1>    
     </div>
     
  </header>

    <!------------------------------------------------------------------------->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap" rel="stylesheet">

    

    <!------------------------------------------------------------------------->
    <div class="container">
    <div class="row-3">
        
        <div id="Paso1">
            <h3>Paso 1 - Malteado</h3>
        
        <p>Durante el malteado los granos de cereal, normalmente de cebada, atraviesan un proceso de germinación
        controlada con el fin de activar las enzimas presentes en el grano, que luego serán necesarias durante la maceración.
        Dependiendo del grado de tostado obtenido durante el malteo, conseguiremos maltas más claras u oscuras, que aportarán el color de la cerveza.</p>
        </div>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

        <div id="Paso2">
            <h3>Paso 2 - Molienda y Maceración</h3>
        
        <p>
            Una vez hemos molido el grano de cereal, es hora de mezclarlo con agua para preparar el mosto cervecero.  
            El agua es el ingrediente mayoritario representando entre el 85%-90% del contenido de la cerveza final.
            Para el proceso de macerado, la malta se mezcla con el agua a diferentes tiempos y temperaturas, produciendo
            las transformaciones necesarias para convertir el almidón en azúcares fermentables.
        </p>
        </div>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

        <div id="Paso3">
            <h3>Paso 3 - Filtración de mosto</h3>
        
        <p>
            Tras la maceración, se separa el mosto líquido de los restos de malta. Para ello filtramos el mosto a través de una cuba filtro
            o de un filtro prensa, en ambos casos se separa el líquido del sólido, a este último le llamamos bagazo y normalmente es reaprovechado para alimentación animal.
        </p>
        </div>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

        <div id="Paso4">
            <h3>Paso 4 - Cocción</h3>
        
        <p>
            El mosto se lleva a ebullición con el objetivo de aportar amargor y aroma presentes en el lúpulo. 
            Además, durante esta etapa se esteriliza el mosto, se coagulan proteínas y se evaporan aromas indeseables. 
            Normalmente este proceso dura en torno a una hora o más, dependiendo del estilo de cerveza que se esté elaborando. 
            Posteriormente el mosto final es sometido a una especie de centrifugado o whirpool.
        </p>
        </div>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

        <div id="Paso5">
            <h3>Paso 5 - Fermentación de la Cerveza</h3>
        
        <p>
            Finalmente llegó el momento de enfriar y airear el mosto para luego sembrar la levadura. 
            Durante la fermentación se transforman los azúcares fermentables en alcohol y CO2, 
            al tiempo que se generan una gran variedad de compuestos, muchos de los cuales contribuyen a darle los aromas característicos tan populares de la cerveza. 
            Usualmente en el proceso cervecero se utilizan dos grandes familias de levaduras: lager y ale. 
            Este proceso se desarrolla en tanques de fermentación que en ocasiones son conocidos como fermentadores.
        </p>
        </div>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

        <div id="Paso6">
            <h3>Paso 6 - Maduración</h3>
        
        <p>
            El líquido resultante requiere de un período de maduración, donde la cerveza es sometida a bajas temperaturas
            para que el sabor y los aromas logrados durante el proceso se estabilicen y se consiga el justo balance entre los diferentes matices.
        </p>
        </div>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

        <div id="Paso7">
            <h3>Paso 7 - Envasado</h3>
        
        <p>
            Generalmente al terminar la maduración la cerveza es sometida a un proceso de filtración para separar pequeñas partículas de levadura
            y compuestos que aún se encuentran en suspensión. Una vez filtrada se obtiene la cerveza brillante, la cual se envasa
            en diferentes formatos para su consumo y en muchos casos se pasteuriza para luego poner a disposición de los Cervecistas, 
            que sólo tendrán que preocuparse de abrir, servir y disfrutar.
        </p>
        </div>
    </div>
    </div>
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
    
    <div class="imgFabricacion">
        <img src="../img/fab2.jpg" alt="fabricacion">
    </div>

    <!--------------------------- Seccion flotante de musica ----------------------------------->
    <!--
    <div class="Musica">    
        <p>Disfruta tu estadia por la pagina!</p>
        <audio src="../img/Creedence Clearwater Revival - Cotton Fields.mp3" controls autoplay loop preload="auto"></audio>  

          <div id="sociales">
            <p>Siguenos! 
              <a href="./index.html"> <img src="../assets/icons/facebook.svg" alt="" width="32" height="32" title="Bootstrap"> </a>
              <a href="./index.html"> <img src="../assets/icons/instagram.svg" alt="" width="32" height="32" title="Bootstrap"> </a>  
              <a href="./index.html"> <img src="../assets/icons/twitter.svg" alt="" width="32" height="32" title="Bootstrap"> </a>  
            </p> 
          </div>  
    </div>  
    --> 
    <!------------------------------------------------------------------------->

    <div id="InfoPie">
        <footer>
            <br><br><br><br><br><br><br>
            <h6>Ubicacion y Contacto: Av.hola Calle 23 San Jose. - 15123456 Todos los Derechos Reservados</h6>
        </footer>
    </div>

</body>
</html>