<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Pale Ale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../assets/css/estilos.css" type="text/css"> 
</head>
<body>
    <header>
        <a href="ShopBeer.html">Volver al SHOPBEER!</a>
        <br>
        <div class="TituloCerveza">
            <h1>Cerveza Pale Ale</h1>
        </div>
    </header>

    <div class="ListaCerveza">
        <ul>
            <li>Precio</li>
            <li>Cuenta con:</li>
            <ol>
                <li>Envio a domicilio</li>
                <li>Retiro en local</li>
            </ol>
            <p><a href="./FormCompra.html">Continuar con la compra</a></p>
        </ul>
    </div>
</body>
</html>